@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
.light-theme{
  background-color: white;
  color: black;
}
.dark-theme{
  background-color: black;
  color:white;
}